<config>
    <modules>
        <Inchoo_Newwssii>
            <version>1.0.0.0</version>
        </Inchoo_Newwssii>
    </modules>
    <frontend>
        <routers>
            <inchoo_newwssii>
                <use>standard</use>
                <args>
                    <module>Inchoo_Newwssii</module>
                    <frontName>news</frontName>
                </args>
            </inchoo_newwssii>
        </routers>
        <layout>
            <updates>
                <inchoo_newwssii>
                    <file>inchoo_newwssii.xml</file>
                </inchoo_newwssii>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <inchoo_newwssii_setup>
                <setup>
                    <module>Inchoo_Newwssii</module>
                </setup>
            </inchoo_newwssii_setup>
        </resources>
        <models>
            <inchoo_newwssii>
                <class>Inchoo_Newwssii_Model</class>
                <resourceModel>inchoo_newwssii_resource</resourceModel>
            </inchoo_newwssii>
            <inchoo_newwssii_resource>
                <class>Inchoo_Newwssii_Model_Resource</class>
                <entities>
                    <news>
                        <table>inchoo_newwssii_news</table>
                    </news>
                    <news_comments>
                        <table>inchoo_newwssii_news_comments</table>
                    </news_comments>
                </entities>
            </inchoo_newwssii_resource>
        </models>
        <blocks>
            <inchoo_newwssii>
                <class>Inchoo_Newwssii_Block</class>
            </inchoo_newwssii>
        </blocks>
        <helpers>
            <inchoo_newwssii>
                <class>Inchoo_Newwssii_Helper</class>
            </inchoo_newwssii>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inchoo_Newwssii after="Mage_Adminhtml">Inchoo_Newwssii_Adminhtml</Inchoo_Newwssii>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <inchoo_newwssii>
            <settings>
                <comments_enabled>1</comments_enabled>
            </settings>
        </inchoo_newwssii>
    </default>
</config>